@font-face {
	font-family: 'eduicons';
	src:url('icons.eot');
	src:url('icons.eot?#iefix') format('embedded-opentype'),
		url('icons.ttf') format('truetype'),
		url('icons.woff') format('woff'),
		url('icons.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
#adminmenu #toplevel_page_classes div.wp-menu-image:before {
  font-family: 'eduicons' !important;
  content: "\e601";
}
#adminmenu #toplevel_page_view_class_blog_redirect div.wp-menu-image:before {
	font-family: 'eduicons' !important;
	content: "\e601";
}

#adminmenu #toplevel_page_edustats-visitors div.wp-menu-image:before {
  font-family: 'eduicons' !important;
  content: "\e602";
}
#adminmenu #toplevel_page_wpmudev_forums div.wp-menu-image:before {
  font-family: 'eduicons' !important;
  content: "\e603";
}

#adminmenu #toplevel_page_classes div.wp-menu-image img,
#adminmenu #toplevel_page_edustats-visitors div.wp-menu-image img,
#adminmenu #toplevel_page_wpmudev_forums div.wp-menu-image img,
#wp-admin-bar-my-sites-list .blavatar
{
  display: none;
}

@media screen and ( max-width: 782px ) {
	#wp-admin-bar-pro-site, #wpadminbar #wp-admin-bar-wdcab_root>.ab-item {
		display: none;
	}
	#wpadminbar ul#wp-admin-bar-root-default>li {
		margin: 0;
	}
}